extends ../layout

block variables
  - var pageTitle = "Room details"

    
block content
  include ../../components/icon-text/icon-text.pug
  include ../../components/comment/comment.pug
  include ../../components/bullet-list/bullet-list.pug
  include ../../components/title/title.pug
  include ../../components/circle-chart/circle-chart.pug
  include ../../components/order/order.pug

  main.room-details
    section.room-details__photos
      .room-details__photos-column
        img.room-details__main-photo(src="./img/room-det-1.jpg" alt="room photo")

      .room-details__photos-column
        img.room-details__second-photo(src="./img/room-det-2.jpg" alt="room photo")
        img.room-details__third-photo(src="./img/room-det-3.jpg" alt="room photo")

    section.room-details__content
      .room-details__content-container
        section.room-details__content-info
          +title({ tag: "h2", text: "Сведения о номере", })

          .room-details__icon-text
            +icon-text({
              image: "insert_emoticon", 
              title: "Комфорт", 
              description: "Шумопоглощающие стены", 
              hasUnderline: true,
            })

          .room-details__icon-text
            +icon-text({
              image: "location_city", 
              title: "Удобство", 
              description: "Окно в каждой из спален", 
              hasUnderline: true,
            })

          .room-details__icon-text
            +icon-text({
              image: "whatshot", 
              title: "Уют", 
              description: "Номер оснащён камином",
            })

        section.room-details__content-diagram
          +title({ tag: "h2", text: "Впечатления от номера", })

          .room-details__circle-chart
            +circle-chart()

            .room-details__review-list
              +bullet-list({
                values: [
                  { text: "Великолепно", circleColor: "gold", },
                  { text: "Хорошо", circleColor: "green", },
                  { text: "Удовлетворительно", circleColor: "pink", },
                  { text: "Разочарован", circleColor: "black", },
                ],
              })

        section.room-details__order
          +order()

        section.room-details__reviews
          .room-details__reviews-title
            +title({ tag: "h2", text: "Отзывы посетителей номера", })

            span.room-details__reviews-amount 2 отзыва

          .room-details__comment
            +comment({
              avatarLink: "./img/avatar-1.png", 
              likes: 11, 
              author: "Мурад Сарафанов", 
              date: "5 дней назад", 
              text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
            })

          .room-details__comment
            +comment({
              avatarLink: "./img/avatar-2.png", 
              likes: 11, 
              author: "Патисия Стёклышкова", 
              date: "неделю назад", 
              text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.",
            })

        section.room-details__rules
          .room-details__rules-title
            +title({ tag: "h2", text: "Правила", })

          .room-details__bullet-list
            +bullet-list({
              values: [
                { text: "Нельзя с питомцами" },
                { text: "Без вечеринок и мероприятий" },
                { text: "Время прибытия — после 13:00, а выезд до 12:00" },
              ],
            })

        section.room-details__cancel
          +title({ tag: "h2", text: "Отмена", })

          p.room-details__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги