extends ../layout

block variables
  - let pageTitle = "Landing page"

block content
  include ../../components/filter/filter.pug

  main.landing-page
    section.landing-page__filter
      +filter()
      
    p.landing-page__quote Лучшие номера для вашей работы, отдыха и просто вдохновения