.landing-page {
  background-image: url("../../img/home-page-bcg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  height: min-content;
  min-height: 830px;
  width: 100%;

  &__filter {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 380px;
    margin-left: 11.3em;
    padding-top: 4.35em;

    @media (max-width: 760px) {
      margin: 0 auto;
    }
  }

  &__quote {
    color: $dark-shade;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 0.86rem;
    line-height: 1.4rem;
    max-width: 298px;
    margin-left: auto;
    margin-right: 13em;
    margin-top: 23em;
    text-align: right;

    @media (max-width: 760px) {
      margin-right: auto;
    }

    @media (max-width: 400px) {
      margin-top: 3em;
      padding-bottom: 1.2em;
    }
  }

  @media (max-width: 400px) {
    min-height: 500px;
  }
}
