.rating-button {
  align-items: center;
  display: inline-block;
  max-width: 320px;
  user-select: none;

  &__input {
    display: none;
  }

  &__label {
    font-size: 1.3rem;
    line-height: 1.43rem;
    letter-spacing: 1px;
  }
}