include ../icons/icons.pug

mixin rate-button({ name = 'rate-button', rating = 5, } = {})
  - let i = 0
  span.rate-button.js-rate-button
    while i < 5
      label.rate-button__label.js-rate-button__label
        +icons({
          type: 'star_border', 
          color: 'purple-gradient',
        })
        input.rate-button__input.js-rate-button__input(type='radio' checked=rating-1===i name=name value=i+=1)