.rate-button {
  align-items: center;
  display: inline-block;
  max-width: 320px;
  user-select: none;

  &__input {
    display: none;
  }

  &__label {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}