@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensans/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans/opensans-regular-webfont.woff") format("woff"),
    url("../fonts/opensans/opensans-regular-webfont.ttf") format("truetype"),
    url("../fonts/opensans/opensans-regular-webfont.svg") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/opensans/opensans-bold-webfont.woff2") format("woff2"),
    url("../fonts/opensans/opensans-bold-webfont.woff") format("woff"),
    url("../fonts/opensans/opensans-bold-webfont.ttf") format("truetype"),
    url("../fonts/opensans/opensans-bold-webfont.svg") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("../fonts/material-icons/MaterialIcons-Regular.woff2") format("woff2"),
    url("../fonts/material-icons/MaterialIcons-Regular.woff") format("woff"),
    url("../fonts/material-icons/MaterialIcons-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/quicksand/Quicksand-Regular.woff") format("woff"),
    url("../fonts/quicksand/Quicksand-Regular.ttf") format("truetype"),
    url("../fonts/quicksand/Quicksand-Regular.svg") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/quicksand/Quicksand-Bold.woff") format("woff"),
    url("../fonts/quicksand/Quicksand-Bold.ttf") format("truetype"),
    url("../fonts/quicksand/Quicksand-Bold.svg") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"),
    url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/montserrat/Montserrat-Regular.svg") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype"),
    url("../fonts/montserrat/Montserrat-SemiBold.svg") format("svg");
}
