$primary: #bc9cff;
$gradiend-end-primary: #8baaf9;
$secondary: #6fcf97;
$gradiend-end-secondary: #66d2ea;

$main-font-size: 1rem;

$the-darkest-shade: #1f2041;
$dark-shade: rgba(31, 32, 65, 0.75);
$main-shade: rgba(31, 32, 65, 0.5);
$light-shade: rgba(31, 32, 65, 0.25);
$the-lightest-shade: rgba(31, 32, 65, 0.05);

html,
body {
  color: $dark-shade;
  font-size: $main-font-size;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
