.button {
  background: linear-gradient(180deg, $purple 0%, $gradiend-end-purple 100%);
  border-radius: 22px;
  border: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 0.76rem;
  font-weight: bold;
  height: max-content;
  min-width: 99px;
  min-height: 44px;
  padding: 14px 18px 15px 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.3s;
  width: max-content;
  user-select: none;

  &:focus {
    outline: none;
  }

  &__arrow {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 44px;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
  }

  &__key {
    background: #fff;
    border-radius: 22px;
    border: none;
    box-sizing: border-box;
    color: $purple;
    cursor: pointer;
    display: block;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 0.86rem;
    font-weight: bold;
    height: 100%;
    padding: 12px 16px 13px 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;

    &:focus {
      outline: none;
    }
  }

  &_faint {
    align-items: center;
    border-radius: 22%/50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: max-content;
    padding: 2px;
    width: max-content;

    &:hover,
    &:focus {
      background: linear-gradient(
        180deg,
        rgba(188, 156, 255, 0.5) 0%,
        rgba(139, 164, 249, 0.5) 100%
      );
    }

    &.button_size_narrow {
      min-width: 79px;
      padding: 2px;

      & .button__key {
        padding-top: 7px;
        padding-bottom: 8px;
      }
    }
  }

  &_long {
    color: #fff;
    max-width: 320px;
    position: relative;
    width: 100%;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  &_no-frame {
    background: none;
    box-sizing: border-box;
    color: $purple;
    height: auto;
    max-width: max-content;
    min-width: max-content;
    padding-right: 0;
    padding-left: 0;

    &:hover,
    &:focus {
      color: $main-shade;
    }
  }

  &_simple {
    color: #fff;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  &_size {
    &_small {
      min-height: 34px;
      min-width: 79px;
    }

    &_narrow {
      min-width: 79px;
      min-height: 34px;
      padding-top: 9px;
      padding-bottom: 10px;
    }
  }
}
