.like-button {
  background: #fff;
  border: 1px solid $light-shade;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 0.35rem;   
  line-height: 1rem;
  min-width: 40px;
  position: relative;
  padding-right: 0.55em;
  padding-left: 0.55em;
  padding-bottom: 0.35em;
  user-select: none;
  white-space: nowrap;
  width: max-content;

  &__heart {
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
  }

  &__label {
    color: $light-shade;
    display: inline-block;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 0.66rem;
    font-weight: normal;
    padding-left: 0.55em;
    pointer-events: none;
    vertical-align: middle;

    &_active {
      color: $purple;
    }
  }

  &_active {
    border: 1px solid $purple;
  }
}
