.like-button {
  display: inline-block;
  position: relative;
  width: max-content;
  min-width: 40px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 1px;
  background: #FFFFFF;
  border: 1px solid $light-shade;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 10px;   
  line-height: 16px;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;

  &__heart {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
  }

  &__label {
    display: inline-block;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: $light-shade;
    padding-left: 6px;
    pointer-events: none;
    vertical-align: middle;

    &_active {
      color: $purple;
    }
  }

  &_active {
    border: 1px solid $purple;
  }
}
