.option-button {
  cursor: pointer;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 0.86rem;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;

  &__apply {
    color: $purple;
  }

  &__clear {
    color: $main-shade;
  }

  &_hidden {
    opacity: 0;
    pointer-events: none;
  }
}
