mixin toggle-button({ name = "toggle-button", text = "toggle button", isChecked = false, } = {})
  .toggle-button
    label.toggle-button__label
      input.toggle-button__input(type="checkbox" name=name checked= isChecked)
      
      span.toggle-button__slider
        i.toggle-button__circle
      span.toggle-button__text=text