include ../title/title.pug
include ../text-field/text-field.pug
include ../button/button.pug

mixin sign-in-form({ name="registration", action="/mock-address/change-me", method="post", } = {})
  form.sign-in-form(name=name action=action method=method)
    .sign-in-form__wrapper
      .sign-in-form__title
        +title({ tag: "h1", text: "Войти", })

      .sign-in-form__email
        +text-field({
          type: "email",
          name: "email",
          placeholder: "Email",
        })

      .sign-in-form__password
        +text-field({
          type: "password",
          name: "password",
          placeholder: "Пароль",
        })

      .sign-in-form__button
        +button({ 
          text: "Войти",
          buttonType: "submit",
          style: "long",
        })

      .sign-in-form__login
        p.sign-in-form__login-text Нет аккаунта на Toxin?

        +button({ 
          href:"/mock-address/change-me", 
          text: "Создать", 
          style: "faint",
        })