include ../icons/icons.pug

mixin links-list({ links = [], gapBetweenElements, } = {})
  - let gapModifier

  case gapBetweenElements
    when "large"
      - gapModifier = "links_list_indent_large"
  
  ul.links_list(class=gapModifier)
    each link in links
      - const { isDropdown, isActive, href = "/address/need/change", text = "click me" } = link

      li.links_list__item(class=isDropdown ? "links_list__item_with-dropdown" : null)
        a.links_list__link(href=href class=isActive ? "links_list__link_active" : null)=text

        if isDropdown
          .links_list__arrow-down
            +icons({
              icon: "keyboard_arrow_down", 
              color: "shade",
            })