include ../text-input/text-input.pug
include ../title/title.pug
include ../icons/icons.pug

mixin date-input({ header = "date dropdown", type = "start", placeholder, width, } = {})
  - let widthModifier

  case width
    when "wide"
      - widthModifier = "date-input__input_width_wide"

  .date-input
    +title({ tag: "h3", text: header, })

    .date-input__input(class = widthModifier)
      .date-input__keyboard-arrow
        +icons({
          icon: "keyboard_arrow_down", 
        })

      div(class=`date-input__input-${type}-date js-date-input__input-${type}-date`)
        +text-input({
          type: "text",
          readonly: "readonly",
          theme: "dark",
          isClickable: true,
          placeholder,
        })