include ../icons/icons.pug

mixin subscription-input({ placeholder = "Email", } = {})
  section.subscription-input
    input(type="email", name="email", class="subscription-input__field", placeholder=placeholder)
    .subscription-input__arrow
      +icons({
        icon: "arrow_forward", 
        color: "purple",
      })