mixin radio-input({ name = "radio-input", text = "radio-input", isChecked = false, value, } = {})
  .radio-input
    label(class="radio-input__label")
      input(type="radio" name=name value=value class="radio-input__button" checked=isChecked)
      span.radio-input__circle
        i.radio-input__thumb
      span.radio-input__text=text