.range-slider {
  max-width: 266px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    color: $main-shade;
    border: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 0.76rem;
    line-height: 1rem;
    max-width: 50%;
    pointer-events: none;
    text-align: end;
    text-transform: uppercase;
    width: auto;
  }

  &__label {
    margin: 0;
    white-space: nowrap;
  }

  span.irs.irs--flat {
    .irs-line {
      background: #fff;
      border: 1px solid $light-shade;
      box-sizing: border-box;
      border-radius: 3px;
      height: 8px;
      max-width: 266px;
      width: 100%;
    }

    .irs-handle {
      background: linear-gradient(180deg, $secondary 0%, $gradiend-end-secondary 100%);
      border: 2px solid #fff;
      border-radius: 50%;
      box-sizing: border-box;
      cursor: pointer;
      height: 16px;
      margin-top: -1px;
      outline: none;
      width: 16px;

      i {
        display: none;
      }
    }

    .irs-bar {
      background: linear-gradient(180deg, $secondary 0%, $gradiend-end-secondary 100%);
      border-radius: 3px;
      height: 8px;
    }
  }
}