extends ../../index


block variables
  - var pageTitle = 'Form Elements'

block content

  include ../components/logo-ui-kit/logo-ui-kit.pug
  include ../components/text-field/text-field.pug
  include ../components/dropdown/dropdown.pug
  include ../components/filter-date/filter-date.pug
  include ../components/subscription-text-field/subscription-text-field.pug
  include ../components/checkbox-button/checkbox-button.pug
  include ../components/radio-button/radio-button.pug
  include ../components/toggle-button/toggle-button.pug
  include ../components/like-button/like-button.pug
  include ../components/rate-button/rate-button.pug
  include ../components/range-slider/range-slider.pug
  include ../components/button/button.pug
  include ../components/pagination/pagination.pug
  include ../components/dropdown-checkbox/dropdown-checkbox.pug
  include ../components/icon-text/icon-text.pug
  include ../components/bullet-list/bullet-list.pug
  include ../components/comment/comment.pug
  include ../components/heading/heading.pug

  main.form-elements
    .form-elements__container
      .form-elements__logo-ui-kit
        +logo-ui-kit()
      article.form-elements__fields
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'text field', })
          +text-field({
            type: 'email',
            name: 'input-email',
            placeholder: 'Email',
          })
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'dropdown', })
          +dropdown({ 
            text: 'Сколько гостей',
            hasButtons: true,
            options: [
              { text: 'взрослые', group: 'гости' },
              { text: 'дети', group: 'гости' },
              { text: 'младенцы' },
            ],
          })
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'masked text field', })
          +text-field({
            placeholder: 'ДД.ММ.ГГГГ',
            isMasked: true,
          })
        .form-elements__wrapper
          +filter-date({ inputFieldType: 'range', firstHeader: 'date Dropdown', secondHeader: 'date Dropdown', })
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'filter date dropdown', })
          +filter-date({ firstHeader: '', })
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'subscription text field', })
          +subscription-text-field({ placeholder: 'Email', })
      article.form-elements__check-buttons
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'checkbox buttons', })
          .form-elements__checkbox-button
            +checkbox-button({ name: 'checkbox0', text: 'Можно курить', })
          .form-elements__checkbox-button
            +checkbox-button({ name: 'checkbox1', text: 'Можно с питомцами', })
          .form-elements__checkbox-button
            +checkbox-button({ name: 'checkbox2', text: 'Можно пригласить гостей (до 10 человек)', })
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'radio button', })
          .form-elements__radio-buttons
            .form-elements__radio-button
              +radio-button({ name: 'contact', value: 'man', text: 'Мужчина', isChecked: true, })
            .form-elements__radio-buttons
              +radio-button({ name: 'contact', value: 'woman', text: 'Женщина', })
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'toggle button', })
          +toggle-button({ name: 'toggle', text: 'Получать спецпредложения', })
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'like button', })
          +like-button({ likesNumber: 2 })
          .form-elements__like-button
            +like-button({ likesNumber: 12, isChecked: true, })
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'rate button', })
          +rate-button({ name: 'rate01', rating: 4, })
          .form-elements__rate-button
            +rate-button({ name: 'rate02', rating: 5, })
      article.form-elements__buttons
        .form-elements__wrapper
          +range-slider({ 
            headerText: 'range slider', 
            type: 'double', 
            min: 1000, 
            max: 15000, 
            step: 1, 
            from: 5000, 
            to: 10000, 
          })
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'buttons', })
          .form-elements__button
            +button({
              styleType: 'simple', 
              href:'/mock-address/change-me', 
              text: 'click me', 
            })
          .form-elements__button
            +button({
              styleType: 'faint', 
              href:'/mock-address/change-me', 
              text: 'click me', 
            })
          .form-elements__button
            +button({
              styleType: 'no-frame', 
              href:'/mock-address/change-me', 
              text: 'click me', 
            })
          .form-elements__button
            +button({
              styleType: 'long', 
              href: '/mock-address/change-me', 
              text: 'click me',
              buttonType: 'submit',
            })
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'pagination', })
          +pagination({ 
            links: [
              { href: '/mock-address/change-me', number: 1, isActive: true, },
              { href: '/mock-address/change-me', number: 2, },
              { href: '/mock-address/change-me', number: 3, },
              { href: '/mock-address/change-me', number: 15, },
            ],
          })
      article.form-elements__left-dropdown
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'dropdown', })
          +dropdown({ 
            width: 'short',
            options: [
              { text: 'спальни', number: 2, },
              { text: 'кровати', number: 2, },
              { text: 'ванные комнаты' },
            ],
          })
        .form-elements__wrapper
          +dropdown-checkbox({
            title: 'expandable checkbox list',
            values: [
              ['checkbox3', 'Завтрак'],
              ['checkbox4', 'Письменный стол'],
              ['checkbox5', 'Стул для кормления'],
              ['checkbox6', 'Кроватка'],
              ['checkbox7', 'Телевизор'],
              ['checkbox8', 'Шампунь'],
              ['checkbox9', 'Телевизор'],
              ['checkbox10', 'Шампунь']
            ],
          })
      article.form-elements__left-comments
        .form-elements__wrapper
          +icon-text({
            image: 'insert_emoticon', 
            title: 'Комфорт', 
            description: 'Шумопоглощающие стены', 
            hasUnderline: true,
          })
        .form-elements__wrapper
          +icon-text({
            image: 'location_city', 
            title: 'Удобство', 
            description: 'Окно в каждой из спален', 
            hasUnderline: true,
          })
      article.form-elements__middle-dropdown
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'rich-checkbox', })
          +checkbox-button({ 
            name: 'checkbox13', 
            text: 'Широкий коридор', 
            description: 'Ширина коридоров в номере не менее 91 см.',
          })
          +checkbox-button({ 
            name: 'checkbox14', 
            text: 'Помощник для инвалидов', 
            description: 'На 1 этаже вас встретит специалист и проводит до номера.',
          })
      article.form-elements__right-dropdown
        .form-elements__wrapper
          .form-elements__heading
            +heading({ type: 'h3', text: 'bullet-list', })
          +bullet-list({ 
            values: [
              { text: 'Нельзя с питомцами' }, 
              { text: 'Без вечеринок и мероприятий' }, 
              { text: 'Время прибытия — после 13:00, а выезд до 12:00' },
            ],
          })
      article.form-elements__comments
        .form-elements__wrapper
          +comment({
            avatarSourceLink: './img/avatar1.png', 
            likesNumber: 11, 
            authorName: 'Мурад Сарафанов', 
            date: '5 дней назад', 
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
          })