extends ../layout

block variables
    - let pageTitle = "Registration"

block content
    include ../../components/registration-form/registration-form.pug

    main.registration
      section.registration__container
        +registration-form()