.registration {
  align-items: center;
  background: url("../../img/sign-bcg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  display: flex;
  height: min-content;
  min-height: 682px;
  width: 100%;
  position: relative;
  
  &__container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;    
  }

  @media (max-width: 400px) {
    min-height: 750px;
  }
}