mixin title({ tag = "h3", text = "Header text", color, weight, } = {})
  - let colorModifier = ""
  - let weightModifier = ""
  
  case color
    when "light"
      - colorModifier = " title_color_light"
  
  case weight
    when "normal"
      - weightModifier = " title_weight_normal"

  #{tag}.title(class = `title_type_${tag}${colorModifier}${weightModifier}`)=text