.title {
  color: $the-darkest-shade;
  font-family: "Quicksand", "Open Sans", Arial, sans-serif;
  font-weight: bold;
  margin: 0;

  &_type {
    &_h1 {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    &_h2 {
      font-size: 1.43rem;
    }

    &_h3 {
      font-family: "Montserrat", Arial, sans-serif;
      font-size: 0.76rem;
      text-transform: uppercase;
    }
  }

  &_color {
    &_light {
      color: $light-shade;
    }
  }

  &_weight {
    &_normal {
      font-weight: normal;
    }
  }
}
