.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;

  &__icon-text {
    margin-left: 12px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.3;
    transition-duration: 0.3s;
  }
}
