include ../like-button/like-button.pug

mixin comment({ avatarSourceLink = './img/avatar1.png', likesNumber = 5, authorName = 'Имя пользователя', date = 'сегодня', text = 'Отзыв', } = {})
  section.comment
    .comment__avatar-container
      .comment__avatar
        img(class='comment__avatar' src=avatarSourceLink)
      .comment__like-button
        +like-button({ likesNumber, })
    .comment__body-container
      .comment__name=authorName
      .comment__date=date
      .comment__text=text