mixin radio-button({ name = "radio-button", text = "radio-button", isChecked = false, value, } = {})
  .radio-button
    label(class="radio-button__label")
      input(type="radio" name=name value=value class="radio-button__input" checked=isChecked)

      span.radio-button__circle
        i.radio-button__thumb
      span.radio-button__text=text