include ../heading/heading.pug
include ../filter-date/filter-date.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin filter({ name='filter', action='/mock-address/change-me', method='get', } = {})
  form.filter(name=name action=action method=method)
    .filter__wrapper
      .filter__heading
        +heading({ type: 'h1', text: 'Найдём номера под ваши пожелания', })
      .filter__dropdown-date
        +filter-date({ inputFieldType: 'range', firstHeader: 'Прибытие', secondHeader: 'Выезд', })
      .filter__dropdown
        +heading({ type: 'h3', text: 'Гости', })
        .filter__dropdown-container
         +dropdown({ 
            text: 'Сколько гостей',
            hasButtons: true,
            options: [
              { text: 'взрослые', group: 'гости', },
              { text: 'дети', group: 'гости', },
              { text: 'младенцы', },
            ],
          })
      .filter__button
        +button({
          styleType: 'long', 
          href: '/mock-address/change-me', 
          text: 'Подобрать номер',
          buttonType: 'submit',
        })