block variables
  - pageTitle = "Toxin"
  - keywords = "FSD, second task"
  - description = "Second task for FSD"

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title=pageTitle

  body
    include ../components/nav-bar/nav-bar.pug

    +nav-bar({
      isLoggedIn: false, 
      links: [
        { text: "О нас" },
        { text: "Услуги", isDropdown: true },
        { text: "Вакансии"  },
        { text: "Новости" },
        { text: "Соглашения", isDropdown: true },
      ],
      loginButtonText: "Войти",
      registerButtonText: "Зарегистрироваться",
    })

    block content
    