block variables
  - keywords = "FSD, second task"
  - description = "Страницы макета для FSD"

doctype html
html(lang='en')
  head
    head
    meta(charset="utf-8")
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    title=pageTitle
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon" sizes="180x180" href="/icon-180x180.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/icon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/icon-16x16.png")
    link(rel="manifest" href="/site.webmanifest.json")
    link(rel="mask-icon" href="/icon.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")

  body
    include ../components/nav-bar/nav-bar.pug
    include ../components/footer/footer.pug

    +nav-bar({
      isLoggedIn: false, 
      links: [
        { text: "О нас" },
        { text: "Услуги", isDropdown: true },
        { text: "Вакансии"  },
        { text: "Новости" },
        { text: "Соглашения", isDropdown: true },
      ],
      loginButtonText: "Войти",
      registerButtonText: "Зарегистрироваться",
    })

    block content

    +footer( { 
      description: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»", 
      titleOfBlockSubscribe: "Подписка", 
      descriptionOfBlockSubscribe: "Получайте специальные предложения и новости сервиса", 
      emailInputPlaceholder: "Email", 
      textOfCopyrightBlock: "Copyright © 2018 Toxin отель. Все права зачищены.", 
      menus: [
        {
          title: "Навигация",
          links: [
            { text: "О нас", },
            { text: "Новости", },
            { text: "Служба поддержки", },
            { text: "Услуги", },
          ],
        },
        {
          title: "О нас",
          links: [
            { text: "О сервисе", },
            { text: "Наша команда", },
            { text: "Вакансии", },
            { text: "Инвесторы", },
          ],
        },
        {
          title: "Служба поддержки",
          links: [
            { text: "Соглашения", },
            { text: "Сообщества", },
            { text: "Связь с нами", },
          ],
        },
      ],
    })