include ../title/title.pug

mixin vertical-menu({ title = "title", links = [], extraModifier="" } = {})
  .vertical-menu
    ul.vertical-menu__list(class=`vertical-menu__list${extraModifier}`)
      li.vertical-menu__item
        +title({ type: "h3", text: title, })
      each link in links
        - const { href = "/address/need/change", text = "click me", } = link
        li.vertical-menu__item
          a.vertical-menu__link(href=href)=text 