.vertical-menu {
  &__item {
    display: block;
    margin-bottom: 1.25rem;
    margin-right: 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: 370px) {
      text-align: center;

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__link {
    color: $main-shade;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.55rem;
    position: relative;
    text-decoration: none;

    &:hover {
      color: #000;
      transition-duration: 0.3s;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    &_position_center {
      margin-right: 2rem;

      @media (max-width: 768px) {
        margin-right: 0;
      }
    }

    @media (max-width: 768px) {
      align-items: center;
      padding-bottom: 0.625rem;
    }
  }
}
