.vertical-menu {
  &__item {
    display: block;
    margin-bottom: 1.25rem;
    margin-right: 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: 370px) {
      text-align: center;

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }

    @media (max-width: 768px) {
      text-align: center;
    }
  }
  
  &__link {
    color: $main-shade;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: $main-font-size;
    line-height: 0;
    position: relative;
    text-decoration: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    @media (max-width: 768px) {
      align-items: center;
      padding-bottom: 0.625rem;
    }
  }
}
