extends ../../index

block variables
    - var pageTitle = 'Headers & footers'

block content

  include ../../components/logo-ui-kit/logo-ui-kit.pug
  include ../../components/nav-bar/nav-bar.pug
  include ../../components/footer/footer.pug
  include ../../components/footer-quote/footer-quote.pug

  main.headers-and-footers
    .headers-and-footers__logo-ui-kit
      +logo-ui-kit()
    article.headers-and-footers__item
      +nav-bar({
        isLoggedIn: false, 
        links: [
          { text: 'Home', isActive: true, },
          { text: 'About Us', },
          { text: 'Services', isDropdown: true, },
          { text: 'Careers', },
          { text: 'News', },
          { text: 'Documentation', },
        ],
        indentBetweenElements: 'large',
      })
    article.headers-and-footers__item
      +nav-bar({
        isLoggedIn: true, 
        links: [
          { text: 'Home', isActive: true, },
          { text: 'About Us', },
          { text: 'Services', isDropdown: true, },
          { text: 'Careers', },
          { text: 'News', },
          { text: 'Documentation', },
        ],
        indentBetweenElements: 'large',
      })
    article.headers-and-footers__item
      +footer-widgets( { 
        description: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.', 
        headingOfBlockSubscribe: 'Subscribe to our newsletter', 
        descriptionOfBlockSubscribe: 'Receive our latest news and promotions in your inbox!', 
        emailFieldPlaceholder: 'Your email address', 
        textOfCopyrightBlock: 'Copyright © 2018 Toxin UI Kit. All rights reserved.', 
        verticalMenus: [
          {
            heading: 'Navigation',
            links: [
              { text: 'About us', },
              { text: 'News', },
              { text: 'Support', },
              { text: 'Products', },
            ],
          },
          {
            heading: 'About us',
            links: [
              { text: 'Who we are', },
              { text: 'Our team', },
              { text: 'Careers', },
              { text: 'Investors', },
            ],
          },
          {
            heading: 'Support',
            links: [
              { text: 'Documentation', },
              { text: 'Community', },
              { text: 'Get in Touch', },
            ],
          },
        ],
      })
    article.headers-and-footers__item
      +footer-quote()