.headers-and-footers {
  padding-top: 150px;
  padding-bottom: 130px;
  background: #F4F4F6;

  &__item {
    margin-bottom: 40px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__logo-ui-kit {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}