include ../icons/icons.pug
include ../text-input/text-input.pug
include ../date-input/date-input.pug
include ../date-picker/date-picker.pug


mixin filter-date({ inputType = "single", firstHeader = "date Dropdown", secondHeader = "date Dropdown", } = {})
  section.filter-date.js-filter-date

    case inputType
      when "single"
        .filter-date__input
          +date-input({ header: firstHeader, type: "entire", placeholder: "ДД.МЕС - ДД.МЕС", width: "wide", })
      when "range"
        .filter-date__inputs
          +date-input({ header: firstHeader, type: "start", placeholder: "ДД.ММ.ГГГГ", })
          +date-input({ header: secondHeader, type: "end", placeholder: "ДД.ММ.ГГГГ", })
          
    +date-picker()