.registration-form {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  min-height: 646px;
  width: 100%;

  &__button {
    margin-top: 24px;
  }

  &__birthday-title {
    margin-top: 22px;
  }

  &__login-data-title {
    margin-top: 20px;
  }

  &__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  &__login-text {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }

  &__birthday {
    margin-top: 5px;
  }

  &__radio-inputs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 320px;
    margin-top: 7px;
  }

  &__radio-input {
    margin-right: 20px;
  }

  &__email {
    margin-top: 5px;
  }

  &__first-name {
    margin-top: 20px;
  }

  &__password {
    margin-top: 10px;
  }

  &__second-name {
    margin-top: 10px;
  }

  &__toggle-button {
    margin-top: 10px;
  }

  &__wrapper {
    padding: calc(40px - 1px) calc(30px - 1px) calc(30px - 1px) calc(30px - 1px);
  }

  @media (max-width: 380px) {    
    min-width: 310px;
    width: min-content;
  }
}