.circle-chart {
  display: inline-block;

  &__pie {
    user-select: none;
  }

  &__text {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 0.76rem;
    font-weight: bold;
    line-height: 1rem;
    text-transform: uppercase;
  }

  &__value {
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.7rem;
    text-transform: uppercase;
  }

  &__path {
    cursor: pointer;
  }
}