include ../icons/icons.pug

mixin icon-text({ image = "insert_emoticon", title = "Комфорт", description = "Шумопоглощающие стены", hasUnderline = false, } = {})
  section.icon-text
    .icon-text__row
      .icon-text__image
        +icons({
          icon: image, 
          color: "purple",
          size: "large",
        })

      .icon-text__text-container            
        p.icon-text__title=title
        p.icon-text__description=description
        
    if hasUnderline 
      .icon-text__underline