.icon-text {
  display: flex;
  flex-direction: column;
  max-width: 291px;
  margin: 0;

  &__description {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade;
  }

  &__image {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 41px;
    padding-right: 10px;
  }

  &__row {
    display: flex;
  }

  &__title {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade;
  }

  &__underline {
    margin-top: 20px;
    max-width: 280px;
    width: 100%;
    height: 1px;
    background: rgba(31, 32, 65, 0.1);
  }
}