extends ../../index

block variables
    - var pageTitle = 'Colors & Type'

block content

    include ../../components/logo-ui-kit/logo-ui-kit.pug
    include ../../components/heading/heading.pug
    include ../../components/color-block/color-block.pug

    .colors-and-type
      .colors-and-type__container
        .colors-and-type__logo-ui-kit
          +logo-ui-kit()
        article.colors-and-type__colors
          +color-block({ text: 'Dark Shade 100%', description: '#1F2041', backgroundColor: 'darkest shade', })
          +color-block({ text: 'Dark Shade 75%', description: '#1F2041', backgroundColor: 'dark shade', })
          +color-block({ text: 'Dark Shade 50%', description: '#1F2041', backgroundColor: 'shade', })
          +color-block({ text: 'Dark Shade 25%', description: '#1F2041', backgroundColor: 'light shade', })
          +color-block({ text: 'Dark Shade 5%', description: '#1F2041', backgroundColor: 'lightest shade', })
          +color-block({ text: 'Purple', description: '#BC9CFF', backgroundColor: 'purple', })
          +color-block({ text: 'Green', description: '#6FCF97', backgroundColor: 'green', })
        article.colors-and-type__headers
          .colors-and-type__item
            .colors-and-type__heading 
              +heading({ type: 'h1', text: 'H1', color: 'light shade', weight: 'normal', })
            .colors-and-type__text 
              +heading({ type: 'h1', text: 'This one is the sub-section or widget title' })
          .colors-and-type__item
            .colors-and-type__heading 
              +heading({ type: 'h2', text: 'H2', color: 'light shade', weight: 'normal', })
            .colors-and-type__text 
              +heading({ type: 'h2', text: 'Next one is the item title inside widgets' })
          .colors-and-type__item
            .colors-and-type__heading 
              +heading({ type: 'h3', text: 'H3', color: 'light shade', weight: 'normal', })
            .colors-and-type__text 
              +heading({ type: 'h3', text: 'This is a label or CTA text', })
          .colors-and-type__item
            p.colors-and-type__heading-body Body
            p.colors-and-type__text-body This is the body text which is used for most of the design, like paragraphs, lists, etc.