include ../social-media/social-media

mixin copyright({ text = "copyright text", } = {})
  section.copyright
    .copyright__inner
      .copyright__description=text
      .copyright__social-icons
        +social-media()