include ../logo/logo.pug
include ../button/button.pug
include ../icons/icons.pug
include ../links-list/links-list.pug

mixin nav-bar({ isLoggedIn = true, userName = "Юлий Цезарь", links = [], loginButtonText = "Войти", registerButtonText = "Зарегистрироваться", gapBetweenElements, } = {})
  - let gapModifier

  case gapBetweenElements
    when "large"
      - gapModifier = "nav-bar__list_indent_large"


  header.nav-bar
    nav.nav-bar__inner
      +logo()

      .nav-bar__menu
        .nav-bar__list(class=gapModifier)
          +links-list({ links, gapBetweenElements, })

        if !isLoggedIn
          .nav-bar__login
            +button({ 
              href: "/address/need/change", 
              text: loginButtonText, 
              size: "narrow",
              style: "faint",
            })

          .nav-bar__register
            +button({ 
              href: "/address/need/change", 
              text: registerButtonText, 
              size: "narrow",
              style: "simple",
            })
        else
          .nav-bar__vertical-line
          .nav-bar__user-name=userName