$column-max-width: 780px;

.nav-bar {
  background: #fff;
  box-shadow: 0px 10px 20px $the-lightest-shade;

  @media (max-width: $column-max-width) {
    flex-direction: column;
  }

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;

    @media (max-width: 1168px) {
      max-width: 1160px;
      width: auto;
    }

    @media (max-width: $column-max-width) {
      flex-direction: column;
      padding: 0.625em 0;
    }
  }

  &__login {
    margin-right: 1.5em;

    @media (max-width: $column-max-width) {
      margin-right: 0;
      margin-top: 0.3em;
    }
  }

  &__menu {
    align-items: center;
    display: flex;

    @media (max-width: $column-max-width) {
      flex-direction: column;
    }
  }

  &__list {
    margin-right: 1.2em;

    &_indent {
      &_large {
        margin-right: 1.5em;
      }
    }

    @media (max-width: $column-max-width) {
      margin-right: 0;
    }
  }

  &__register {
    margin-right: 0.25em;

    @media (max-width: $column-max-width) {
      margin-top: 0.3em;
    }
  }

  &__user-name {
    color: $main-shade;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 0.86rem;
    margin-left: 1.875em;

    @media (max-width: $column-max-width) {
      margin-left: 0;
      margin-top: 0.625em;
    }
  }

  &__vertical-line {
    background: $light-shade;
    height: 30px;
    width: 1px;

    @media (max-width: 760px) {
      margin: 0.4em 0;
    }
  }
}
