mixin social-media()
  section.social-media
    a(class="social-media__link" href="/address/need/change")
      img(class="social-media__img" src="./img/twitter-icon.svg", alt="twitter-icon")
    a(class="social-media__link" href="address/need/change")
      img(class="social-media__img" src="./img/facebook-icon.svg", alt="facebook-icon")
    a(class="social-media__link" href="/address/need/change")
      img(class="social-media__img" src="./img/instagram-icon.svg", alt="instagram-icon")