mixin icons({ color, size, symbol = "icon symbol" } = {})
  - let colorModifier = ''
  - let sizeModifier = ''

  case color
    when "dark"
      - colorModifier = " icons_color_dark"
    when "default"
      - colorModifier = " icons_color_default"
    when "light"
      - colorModifier = " icons_color_light"
    when "white"
      - colorModifier = " icons_color_white"
    when "purple"
      - colorModifier = " icons_color_purple"

  case size
    when "large"
      - sizeModifier = "icons_size_large"
    when "small"
      - sizeModifier = "icons_size_small"

  i.icons(class=`${sizeModifier}${colorModifier}`)=symbol