.icons {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-style: normal;
  font-size: 1.52rem;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  &_color {
    &_dark {
      color: $dark-shade;
    }

    &_shade {
      color: $main-shade;
    }

    &_light {
      color: $light-shade;
    }

    &_purple {
      background: linear-gradient(
        180deg,
        $primary 0%,
        $gradiend-end-secondary 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &_purple {
      color: $primary;
    }

    &_white {
      color: #fff;
    }
  }

  &_size {
    &_large {
      font-size: 3.35rem;
    }

    &_small {
      font-size: 0.71rem;
    }
  }
}
