.room-card {
  background: #fff;
  box-shadow: 0px 10px 20px $the-lightest-shade;
  border-radius: 4px;
  max-width: 270px;
  position: relative;

  &__circle {
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 50%;
    height: 7px;
    margin-left: 3.5px;
    width: 7px;

    &_full {
      background: #fff;
      margin-left: 0;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
  }

  &__image {
    border-radius: 4px 4px 0 0;
  }

  &__in-time {
    color: $main-shade;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 0.86rem;
    font-weight: normal;
    line-height: 1.3rem;
  }

  &__underline {
    background: rgba(31, 32, 65, 0.1);
    height: 1px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    width: 230px;
  }

  &__type {
    color: $purple;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 0.86rem;
    font-weight: bold;
    line-height: 1.1rem;
    text-transform: uppercase;
  }

  &__no {
    color: $the-darkest-shade;
    font-family: "Quicksand", "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: $main-font-size;
    font-weight: bold;
    line-height: 17px;
  }

  &__number {
    color: $the-darkest-shade;
    font-family: "Quicksand", "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.36rem;
    font-weight: bold;
    line-height: 1.3rem;
  }

  &__price {
    color: $main-shade;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: $main-font-size;
    font-weight: bold;
    line-height: 1.3rem;
  }

  &__rating-button {
    margin-top: 1px;
  }

  &__reviews-count {
    color: $main-shade;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: $main-font-size;
    font-weight: bold;
    line-height: 1.3rem;
    text-align: right;
  }

  &__reviews {
    color: $main-shade;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: $main-font-size;
    font-weight: normal;
    line-height: 1.3rem;
    text-align: right;
  }

  &__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__slider {
    &_with-arrows {
      &::before {
        bottom: 0;
        border-radius: 4px 0 0 0;
        box-shadow: inset 100px 0px 60px -80px rgba(0, 0, 0, 0.75);
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }

      &::after {
        border-radius: 0 4px 0 0;
        box-shadow: inset -100px 0px 60px -80px rgba(0, 0, 0, 0.75);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }
    }
  }

  // overwritting plugin`s styles
  .slick-slider {
    .slick-slide {
      height: 100%;

      > div {
        margin-bottom: -4px;
      }
    }

    &.slick-dotted {
      margin: 0;
    }

    .slick-dots {
      bottom: 10px;
      right: 0;
      padding: 0 18px 12px 0;
      text-align: right;
    }

    .slick-dots li {
      height: auto;
      margin-right: 5px;
      width: auto;

      button {
        height: 0;
        margin: 0;
        padding: 0;
        width: 0;
      }

      button::before {
        border: 1px solid #fff;
        box-sizing: border-box;
        border-radius: 50%;
        content: "";
        height: 7px;
        opacity: 1;
        width: 7px;
        z-index: 2;
      }

      &.slick-active {
        button::before {
          background: #fff;
        }
      }
    }

    .slick-arrow {
      &::before {
        font-family: "Material Icons";
        font-size: 1.72rem;
        opacity: 1;
      }
    }

    .slick-next {
      right: 10px;
      z-index: 2;

      &::before {
        content: "keyboard_arrow_right";
      }
    }

    .slick-prev {
      left: 10px;
      z-index: 2;

      &::before {
        content: "keyboard_arrow_left";
      }
    }
  }

  .slick-list {
    .slick-loading & {
      background: none;
    }
  }
}
