.date-text-field {
  &__input {
    position: relative;
    margin-top: 5px;
    max-width: 150px;
    width: 100%;

    &_width {
      &_wide {
        max-width: 266px;
      }
    }
  }

  &__keyboard-arrow {
    align-items: center;
    color: $main-shade;
    display: flex;
    height: 44px;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    width: 44px;
    z-index: 1;
  }
}
