.cards {
  align-items: center;
  background: #f4f4f6;
  display: flex;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 9.5em;

  &__inner {
    display: flex;
    flex-direction: row;

    @media (max-width: 1115px) {
      flex-direction: column
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    margin-right: 4.2em;

    &:last-of-type{
      margin-right: 0;
    }
  
    @media (max-width: 1115px) {
      margin-right: 0;
      margin-top: 0;
      top: 0;
    }
  }

  &__row {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__logo-ui-kit {
    left: 68px;
    position: absolute;
    top: 30px;
  }
}
