extends ../../index

            
block variables
    - var pageTitle = 'Cards'

block content

  include ../../../blocks/room-preview/room-preview.pug
  include ../../../blocks/sign-in-form/sign-in-form.pug
  include ../../../blocks/order/order.pug
  include ../../../blocks/registration-form/registration-form.pug
  include ../../../blocks/filter/filter.pug
  include ../../../blocks/logo-ui-kit/logo-ui-kit.pug

  article.cards
    .cards__logo-ui-kit
      +logo-ui-kit()
    .cards__inner
      section.cards__column
        .cards__row
          +filter()
        .cards__row
          +registration-form()
      section.cards__column
        .cards__row
          +order()
        .cards__row
          +sign-in-form()
      section.cards__column
        .cards__row
          +room-preview({ number: '888', src: 'img/room888.jpg', price: '9 990', name: 'room888', rate: 5, reviews: '145', typeOfRoom:'люкс', hasArrows: true, })
        .cards__row
          +room-preview({ number: '840', src: 'img/room840.jpg', price: '9 900', name: 'room840', rate: 4, reviews: '65', })