extends ../index

block variables
  - let pageTitle = "Cards"

block content
  include ../../components/room-card/room-card.pug
  include ../../components/logo-ui-kit/logo-ui-kit.pug
  include ../../components/sign-in-form/sign-in-form.pug
  include ../../components/order/order.pug
  include ../../components/registration-form/registration-form.pug
  include ../../components/filter/filter.pug

  main.cards
    .cards__logo-ui-kit
      +logo-ui-kit()

    .cards__inner
      section.cards__column
        .cards__row
          +filter()

        .cards__row
          +registration-form()

      section.cards__column
        .cards__row
          +order()

        .cards__row
          +sign-in-form()

      section.cards__column
        .cards__row
          +room-card({ 
            roomNumber: "888", 
            src: "img/room888.jpg", 
            price: "9 990", 
            name: "room888", 
            rate: 5, 
            reviews: "145", 
            type:"luxe", 
            hasArrows: true, 
          })

        .cards__row
          +room-card({ 
            roomNumber: '840', 
            src: "img/room840.jpg", 
            price: "9 900", 
            name: 'room840', 
            rate: 4, 
            reviews: '65', })