.dropdown-option {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 92px;
    width: 100%;
  }

  &__circle {
    align-items: center;
    border: 1px solid $light-shade;
    box-sizing: border-box;
    border-radius: 22px;
    color: $light-shade;
    cursor: pointer;
    display: flex;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    justify-content: center;
    user-select: none;
    height: 30px;
    width: 30px;

    &_inactive {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &_hidden {
    display: none;
  }

  &__number {
    align-items: center;
    color: $the-darkest-shade;
    display: flex;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.86rem;
    line-height: 30px;
    justify-content: center;
    user-select: none;
    min-width: 30px;
    text-align: center;
    text-transform: uppercase;
  }
}
