.date-picker-calendar {
  left: 0;
  position: absolute;
  top: 0;

  &__apply-button {
    background: none;
    color: $purple;
    cursor: pointer;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 0.76rem;
    font-weight: bold;
    line-height: 1rem;
    text-align: right;
    text-transform: uppercase;
    outline: none;
    user-select: none;
  }

  &__material-icon {
    direction: ltr;
    display: inline-block;
    font-family: "Material Icons";
    font-style: normal;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    word-wrap: normal;
    white-space: nowrap;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;

    &_color {
      &_purple {
        color: $purple;
      }
    }
  }

  &__inner {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    padding: 1.5em;
    width: max-content;

    .datepicker {
      &--pointer {
        display: none;
      }

      &--nav {
        border: none;
        padding-bottom: 0.5em;
        width: 100%;

        &-title {
          color: $the-darkest-shade;
          font-family: "Quicksand", "Open Sans", Arial, Helvetica, sans-serif;
          font-size: 1.2rem;
          font-weight: bold;
          line-height: 2rem;
          text-align: center;

          i {
            color: inherit;
          }

          &:hover {
            background: none;
          }
        }
      }

      &--day-name {
        color: $purple;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-size: 0.86rem;
        line-height: 1rem;
        height: 38px;
        width: 38px;
      }

      &--cells-days {
        display: grid;
        grid-template-columns: repeat(7, auto);
      }

      &--cell-day {
        align-items: center;
        border: none;
        background: none;
        box-sizing: border-box;
        color: $main-shade;
        display: flex;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-size: 0.76rem;
        justify-content: center;
        height: 38px;
        line-height: 1rem;
        padding: 0;
        margin: 0;
        width: 38px;

        @media (max-width: 380px) {
          height: 30px;
          width: 30px;
        }

        &.-other-month- {
          color: $light-shade;
        }

        &.-current- {
          background: linear-gradient(
            180deg,
            $green 0%,
            $gradiend-end-green 100%
          );
          border-radius: 50%;
          color: #fff;
        }

        &.-selected- {
          background: linear-gradient(
            180deg,
            $purple 0%,
            $gradiend-end-purple 100%
          );
          border-radius: 50%;
          color: #fff;
          position: relative;
        }

        &.-in-range- {
          color: $main-shade;

          &::after {
            background: linear-gradient(
              180deg,
              $purple 0%,
              $gradiend-end-purple 100%
            );
            content: "";
            display: block;
            height: 100%;
            opacity: 0.15;
            left: 0;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
          }
        }

        &.-range-from-::after {
          background: linear-gradient(
            180deg,
            $purple 0%,
            $gradiend-end-purple 100%
          );
          border-radius: 50% 0 0 50%;
          content: "";
          display: block;
          height: 100%;
          opacity: 0.15;
          left: 0;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
        }

        &.-range-to-::after {
          background: linear-gradient(
            180deg,
            $purple 0%,
            $gradiend-end-purple 100%
          );
          border-radius: 0 50% 50% 0;
          content: "";
          display: block;
          height: 100%;
          left: 0;
          opacity: 0.15;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
        }

        &:hover {
          background: linear-gradient(
            180deg,
            $green 0%,
            $gradiend-end-green 100%
          );
          border-radius: 50%;
          color: #fff;
        }
      }

      &--buttons {
        align-items: center;
        border: unset;
        justify-content: space-between;
        margin-top: 1.5em;
        padding: 0;
        width: 100%;
      }

      &--button {
        cursor: pointer;
        color: $main-shade;
        display: inline-block;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-size: 0.76rem;
        font-weight: bold;
        height: min-content;
        max-width: min-content;
        text-align: left;
        text-transform: uppercase;
        user-select: none;

        &:hover {
          background: none;
        }
      }

      &--nav-action {
        &:hover {
          background: none;
        }
      }
    }
  }
}
