.text-field {
  background: #fff;
  border: 1px solid $light-shade;
  border-radius: 4px;
  box-sizing: border-box;
  color: $light-shade;
  display: inline-block;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 0.86rem;
  line-height: 2.6rem;
  max-width: 320px;
  position: relative;
  padding-left: 1.15em;
  padding-top: 0;
  padding-bottom: 0;
  text-overflow: ellipsis;
  width: 100%;

  &:focus,
  &:hover {
    color: $dark-shade;
    border: 1px solid $main-shade;
    outline: none;
  }

  &::placeholder {
    color: $light-shade;
  }

  &_masked {
    &:focus,
    &:hover {
      color: $dark-shade;
      border: 1px solid $main-shade;
      outline: none;
    }

    &::placeholder {
      color: $light-shade;
    }
  }

  &_theme {
    &_dark {
      color: $dark-shade;

      &::placeholder {
        color: $dark-shade;
      }

      &:focus,
      &:hover {
        border: 1px solid $light-shade;
      }
    }
  }

  &_clickable {
    cursor: pointer;
  }

  &_with-padding-on-right {
    padding-right: 3em;
  }
}
